/* custom.scss */

/* Corporate Navy Primary Overrides */
:root {
  --theme-elevation-500: #1e3ca6;
}

/* Make primary buttons Navy Blue */
.btn--style-primary {
  background-color: #1e3ca6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.btn--style-primary:hover {
  background-color: #0f277a !important;
}

/* Active links in Sidebar */
.nav__link.active {
  color: #1e3ca6 !important;
}
